                                        <div class="row sidebar-box red">
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                        <div class="sidebar-box-heading">
                            <i class="icons icon-award-2"></i>
                                                                <h4>Bestsellers</h4>
                                                        </div>

                                                        <div class="sidebar-box-content">
                                                                <table class="bestsellers-table">
                                                                  {% for product in products %}
                                                                        <tr>
                                                                                <td class="product-thumbnail"><a href="{{ path(product) }}"><img src="{{ product.image ? product.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/50x40' }}" alt="{{product.name}}"></a></td>
                                                                                <td class="product-info">
                                                                                        <p><a href="{{path(product)}}">{{product.name}}</a></p>
                                                                                        <span class="price">{{ sylius_calculate_price(product.masterVariant)|sylius_price }}</span>
                                                                                </td>
                                                                        </tr>
                                                                   {% endfor %}
                                                                </table>
                                                        </div>
                                                </div>
                                        </div>
